@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);
.contactUs-mainbox {
  padding: 2% 15%;
}

.contact3 {
  font-family: "Montserrat", sans-serif;
  color: #353942;
  font-weight: 400;
}

.contact3 h1,
.contact3 h2,
.contact3 h3,
.contact3 h4,
.contact3 h5,
.contact3 h6 {
  color: #3e4555;
}

.contact3 .font-weight-medium {
  font-weight: 500;
}
.contactUsimage {
  /* max-width:100%; */
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 5px;
  filter: brightness(100%);
  /* box-shadow: 5px 5px #3e4555; */
}

.contact3 .card-shadow {
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.contact3 .btn-danger-gradiant {
  background: #ff4d7e;
  background: -webkit-linear-gradient(
    legacy-direction(to right),
    #78221d 0%,
    #ff684d 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#78221d),
    to(#ff684d)
  );
  background: -webkit-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
  background: -o-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
  background: linear-gradient(to right, #ff4d7e 0%, #ff6a5b 100%);
}

.contact3 .btn-danger-gradiant:hover {
  background: #ff6a5b;
  background: -webkit-linear-gradient(
    legacy-direction(to right),
    #ff6a5b 0%,
    #ff4d7e 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ff6a5b),
    to(#ff4d7e)
  );
  background: -webkit-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
  background: -o-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
  background: linear-gradient(to right, #ff6a5b 0%, #ff4d7e 100%);
}
@media (max-width: 600px) {
  .contactUs-mainbox {
    padding: 2% 2%;
  }
  .contactUs-mainbox .submit-btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .contact-box {
    margin: 10px 20px;
  }
}
