.overallDiv1{
    justify-content: center;
    margin: auto 18% !important;
}
.headerText1{
    text-align: center;
    justify-content: center; 
    font-weight : bold;
    font-size: 25px !important;
    text-decoration-line: underline;
    padding-bottom: 30px; 
    padding-top: 10px;
    color: rgb(60, 85, 165);
    margin: 1.5rem auto; 
}
.inputText{
    height: 40px !important;
}

.fontText{
    font-size: 16px !important;
    font-weight: 700;
}

.inputText{
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.fontText{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.823) !important;
}
Form{
    margin: 2rem auto;
}

@media(max-width: 600px){
    .overallDiv1{
        justify-content: center;
        margin: auto 5% !important;
    }
}
.overallDiv1{
    justify-content: center;
    margin: auto 18% !important;
}
.headerText1{
    text-align: center;
    justify-content: center; 
    font-weight : bold;
    font-size: 30px;
    text-decoration-line: underline;
    padding-bottom: 30px;
    padding-top: 10px;
}
.fontText{
    font-size: 20px;
    color: rgb(0, 87, 168);
} 
.startText{
    font-size: 18px !important;
    margin-bottom: 1rem;
}

.button{
    padding-top: 30px;
}
.successButton{
    margin-left: 800px;
}
.submit_btn{
    margin: 0;
}
.flex{
    display: flex;
    flex-basis: auto;
    margin-top: 1.5rem;
    justify-content: space-between;
}

tr{
    display: flex;
    width: 90%;
    text-align: left !important;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.51) !important;
}


@media(max-width: 700px)
{
    tr{
        width: 100%;
    }
    td{
        display: inline;
        margin: 0 !important;
    }
}
@media(max-width: 400px){
    .flex{
        flex-direction: column-reverse;
    }
    .submit_btn{
        margin: 0.5rem auto;
        display: block;
    }
}
.overallDiv1{
    justify-content: center;
    margin: auto 18% !important;
}
.headerText1{
    text-align: center;
    justify-content: center;
    font-weight : bold;
    font-size: 30px;
    text-decoration-line: underline;
    padding-bottom: 30px;
    padding-top: 10px;
}

.fontText{
    font-size: 20px;
    color: rgb(0, 87, 168);
}
.startText{
    font-size: 18px !important;
    margin-bottom: 1rem;
}
.startTextBold{
    color: rgb(0, 87, 168);
    font-size: 1.3em;
    text-decoration-line: underline;
    font-weight: 600;
    margin-left: 10px;
    margin-top: 15px;
}
.startTextBoldSmall{
    color: black;
    font-size: 1.1em;
    padding-bottom: 20px;
    margin-left: 10px;

}

.button{
    padding-top: 30px;
}
.successButton{
    margin-left: 700px;
}
.overallDiv1{
    justify-content: center;
    margin: auto 18% !important;
}

tbody, table{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.inputText{
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
}
.fontText{
    font-size: 19px;
    justify-content: center;
    color: rgb(0, 87, 168);
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: left;
    margin: 0 !important;
}
.resume{
    font-size: 19px;
    margin-left: 132px;
    text-align: center;
}
.type{
    font-size: 19px;
    margin-left: 150px;
    text-align: center;
}
.round{
    font-size: 19px;
    margin-left: 72px;
    text-align: center;
}
.resume2{
    font-size: 19px;
    margin-left: 196px;
    text-align: center;
}
.type2{
    font-size: 19px;
    margin-left: 150px;
    text-align: center;
}
.round2{
    font-size: 19px;
    margin-left: 131px;
    text-align: center;
}
.round3{
    font-size: 19px;
    margin-left: 114px;
    text-align: center;
}
.button{
    padding-top: 30px;
}
.successButton{
    margin-left: 999px;
}
.checkBox{
    margin-left: 9px;
}
tr{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.align{
    align-items: center;
}
.type, .resume, .round{
    font-size: 16px !important;
    margin: 0 !important;
}


@media(max-width: 600px){
    .overallDiv1{
        justify-content: center;
        margin: auto 5% !important;
    }
}