Form {
  margin: 2rem auto;
}

@media (max-width: 600px) {
  .overallDiv1 {
    justify-content: center;
    margin: auto 5% !important;
  }
}
.css-qfz70r-MuiFormGroup-root {
  justify-content: space-around;
  margin-right: 30px;
}
