.overallDiv1{
    justify-content: center;
    margin: auto 18% !important;
}
.headerText1{
    text-align: center;
    justify-content: center; 
    font-weight : bold;
    font-size: 25px !important;
    text-decoration-line: underline;
    padding-bottom: 30px; 
    padding-top: 10px;
    color: rgb(60, 85, 165);
    margin: 1.5rem auto; 
}
.inputText{
    height: 40px !important;
}
/* .headerText{
    text-align: center;
    justify-content: center;
    font-weight : bold;
    font-size: 30px;
    margin-bottom: 15px;
    padding-top: 10px;
    display: block;
    background: rgb(138, 138, 238,0.8);
    color:rgb(0, 0, 0);
} */
.fontText{
    font-size: 16px !important;
}
.headerText{
    padding: 0.5rem;
    border-bottom: 2px solid rgb(60, 85, 165);
    background: transparent !important;
    text-align: left !important;
    color: rgb(60, 85, 165) !important;
    font-size: 23px !important;
    margin-top: 1.5rem;
}
.inputText{
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.fontText{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.823) !important;
}
Form{
    margin: 2rem auto;
}

@media(max-width: 600px){
    .overallDiv1{
        justify-content: center;
        margin: auto 5% !important;
    }
}