.admin_company {
  margin: auto;
  width: 100%;
  box-sizing: border-box;
  padding: 0 8%;
}
.company_items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
#companyname {
  text-align: center;
}
.company_items > div {
  padding: 1rem 0;
}
.admin_company_header {
  margin-top: 3rem;
  color: rgb(60, 85, 165);
  padding: 0.5rem auto;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid rgb(60, 85, 165);
}
.admin_company_header > h1 {
  font-size: 28px;
}
.admin_company_header_small {
  font-size: 16px;
  display: block;
  color: rgb(60, 85, 165);
  margin: 1rem 0 1rem 1rem;
}

.job_card1 {
  width: 22rem;
  height: 24rem;
  overflow-y: auto;
  /* border-radius: 5px; */
  margin: 0.8rem;
  border: 1px solid rgba(0, 0, 0, 0.177);
  /* box-shadow: 3px 3px 6px 4px rgba(0, 0, 0, 0.177); */
  transition: all ease 0.3s;
  background-color: rgb(237, 241, 245, 0.5);

  border-radius: 18px;
}
.job-card-subheading {
  padding-left: 25px;
}
#companyname {
  font-weight: bolder;
  font-size: large;
  border-bottom: 1px solid black;
}

.head {
  font-weight: 500;
  line-height: 2px;
}
.contacthr {
  font-weight: bolder;
}
.company-hr-heading {
  text-align: left !important;
  padding-left: 10px;
}
.company-hr-details {
  text-align: left !important;
  padding-left: 25px;
}
@media (max-width: 400px) {
  input[type='search'] {
    width: 150px;
  }
}
@media (max-width: 600px) {
  .admin_company {
    padding: 0 0.5rem;
  }
}
@media (max-width: 450px) {
  input[type='search'] {
    width: 150px;
  }
}
@media (max-width: 360px) {
  .job_card {
    overflow: scroll;
  }
}
