.overallDiv{
    justify-content: center;
    width: 100vw !important;
    padding: 2rem 10% !important;
    box-sizing: border-box !important;
    margin: 0 !important;
}
.headerText1{
    text-align: center;
    justify-content: center; 
    font-weight : bold;
    font-size: 30px;
    text-decoration-line: underline;
    padding-bottom: 30px;
    padding-top: 10px;
}
.headerText{
    text-align: center;
    justify-content: center;
    font-weight : bold;
    font-size: 30px;
    margin-bottom: 15px;
    padding-top: 10px;
    display: block;
    background: rgb(138, 138, 238,0.8);
    color:rgb(0, 0, 0);
}
.fontText{
    font-size: 20px;
    color: rgb(0, 87, 168);
} 
.startText{
    font-size: 18px !important;
    margin-bottom: 1rem;
}
.startTextBold{
    color: black;
    font-size: 24px;
    text-decoration-line: underline;
}
.startTextBoldSmall{
    font-size: 20px;
    padding-bottom: 10px;
}

.button{
    padding-top: 30px;
}
.successButton{
    margin-left: 800px;
}
.submit_btn{
    margin: 0;
}
.flex{
    display: flex;
    flex-basis: auto;
    margin-top: 1.5rem;
    justify-content: space-between;
}

tr{
    display: flex;
    width: 90%;
    text-align: left !important;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.51) !important;
}


@media(max-width: 700px)
{
    tr{
        width: 100%;
    }
    td{
        display: inline;
        margin: 0 !important;
    }
}
@media(max-width: 400px){
    .flex{
        flex-direction: column-reverse;
    }
    .submit_btn{
        margin: 0.5rem auto;
        display: block;
    }
}