.overallDiv1 {
  justify-content: center;
  margin: auto 18% !important;
}
.headerText {
  padding: 0.5rem;
  border-bottom: 2px solid rgb(60, 85, 165);
  background: transparent !important;
  text-align: left !important;
  color: rgb(49, 68, 131) !important;
  font-size: 1.5em !important;
  margin-top: 5px !important;
}
.headerText1 {
  text-align: center;
  justify-content: center;
  font-weight: bold;
  font-size: 25px !important;
  text-decoration-line: underline;
  padding-bottom: 30px;
  padding-top: 10px;
  color: rgb(60, 85, 165);
  margin: 1.5rem auto;
}
.category-heading {
  /* display: flex;
  justify-content: space-between; */
  text-transform: uppercase;
}

.category p {
  opacity: 0.6;
}

.category h3 {
  font-weight: 600;
  font-size: 1.3em;
}

.upper {
  width: 100%;
  padding: 10px 0 10px 30px;
  background-color: #c8e5fd;
  border-radius: 10px;
}

.lower {
  padding: 30px;
  border-radius: 0px 0px 10px 10px;
  background-color: #e9edf1;
  color: rgb(0, 0, 0);
}

.lower h4 {
  color: #2999f5;
}

.lower p:not(:first-child) {
  /* margin-top: 40px; */
}
.eligible-options {
  background-color: #7ab4e41e;
}
.eligible-type {
  background-color: white;
  padding: 20px;
}

@media (max-width: 400px) {
  .category h3{
    font-size: 1.1em;
  }
  .category p {
    font-size: 0.9em;
  }
  .headerText {
    font-size: 1em;
  }
}
