.myJobs_container {
  width: 100vw;
  min-height: 80vh;
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
}
.job_container {
  width: 70%;
  margin: 2rem auto;
}
.job_header {
  margin: 0.5rem;
  color: rgb(60, 85, 165);
  font-size: 10px;
  font-weight: 700;
  padding: 0.3rem 0;
  border-bottom: 2px solid rgb(60, 85, 165);
  display: flex;
  justify-content: space-between;
}
.job_header > h1 {
  text-align: left;
  margin: 0 1rem;
  font-size: 28px;
  font-weight: 700;
  display: inline-block;
  text-transform: capitalize;
}
.jobs_content {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-around;
}
.job_card {
  width: 300px;
  height: 230px;
  border-radius: 5px;
  margin: 0.8rem;
  border: 1px solid rgba(0, 0, 0, 0.177);
  box-shadow: 3px 3px 6px 4px rgba(0, 0, 0, 0.177);
  transition: all ease 0.3s;
  overflow: hidden;
}
.badge {
  position: relative;
  background: rgb(60, 85, 165);
  height: 24px;
  width: 120px;
  top: 1rem;
  left: -2rem;
  /* z-index: 2; */
  transform: rotateZ(-45deg);
}
.job_card:hover {
  box-shadow: -2px -2px 6px 4px rgba(0, 0, 0, 0.177);
}
.content_heading>h4{
    font-size: 20px;
    font-weight: 700;
    color: rgb(60, 85, 165);
    text-align: center;
}
.content_text{
    margin: 1rem 1.5rem;
}
.content_text>h5{
    font-size: 16px;
    font-weight: 500;
}
.content_text>h5>span{
    font-weight: 600;
}
.secondary_btn{
    border: 1.5px solid rgb(60, 85, 165);
    border-radius: 3px;
    padding: 3px 10px;
    color: rgb(60, 85, 165);
    font-size: 16px;
    font-weight: 700;
    background: transparent;
    display: inline;
    margin: 0.5rem auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: all ease 0.3s;
}
.secondary_btn:hover{
    color: #fff;
    background-color: rgb(60, 85, 165);
}
select {
  height: 30px;
  padding: auto 1rem;
  border: 1px solid rgb(60, 85, 165);
  outline: none;
  margin-right: 1rem;
  font-size: 15px;
}
.jobFilter {
  display: flex;
  flex-direction: row-reverse;
}
.addJob_btn {
  min-width: 115px;
  min-height: 30px;
  padding: auto 0.5rem;
  box-sizing: border-box;
  font-size: 12px;
  display: flex;
  align-items: center;
  color: #fff;
  background: red;
  outline: none;
  border: 1px solid red;
  border-radius: 3px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.252);
  margin-right: 0.5rem;
  transition: all ease 0.3s;
}
.addJob_btn h3 {
  margin: 0;
  font-size: 17px;
}
.addJob_btn:hover {
  background-color: rgba(0, 0, 255, 0.7);
  color: #fff;
  border: 1px solid rgba(0, 0, 255, 0.7);
}

.job_pop_up {
  display: flex;
  flex-direction: column;
  width: 170px;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 15%;
  top: 21%;
  z-index: 99;
}
.job_pop_up > button {
  font-size: 15px !important;
  font-weight: 500;
  line-height: 15px;
  padding: 0.3rem;
  border: 1px solid rgba(0, 0, 0, 0.07);
  outline: none;
  background: #fff;
}

@media (max-width: 600px) {
  .myJobs_container {
    flex-direction: column-reverse;
    margin: auto;
    align-items: center;
  }
  .job_container {
    width: 95%;
  }
  .jobFilter {
    width: 95%;
  }
  .jobs_content {
    justify-content: space-evenly;
  }
  select {
    height: 30px;
    width: 130px;
    margin: 0;
    position: relative;
  }
  .job_pop_up {
    right: 6%;
  }
}
